.movieCard {
  display: flex;
  padding: 5px 5px 5px 5px;
  flex-wrap: wrap;
  font-size: 20px;
  width: 322px;
  position: relative;
}

.titleYear {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.movieCardGenre {
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
}

.contextMenuIcon {
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
}

.movieCard:hover .contextMenuIcon {
  display: block;
}
