.moviesPanel {
  background-color: #232323;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 70px;
  font-size: 20px;
  height: 100%;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  column-gap: 50px;
  row-gap: 50px;
  padding-top: 20px;
}

.moviesPanelSelectors {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.sortTypeLabel {
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
}

.genreRadioOption {
  padding-right: 20px;
  padding-left: 5px;
}

.sortTypeSelect {
  display: flex;
  justify-content: center;
}

.sortTypeSelect select,
.sortTypeSelect select option {
  text-transform: uppercase;
  background-color: #232323;
  padding-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.sortDirection:hover {
  color: #f65261;
}
