html,
body,
form,
table,
tr,
td,
div,
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  color: white;
}

input,
button,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

select {
  background-color: transparent;
  border: none;
  cursor: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: #232323;
}
